#rootPane {
    -fx-background-image: url("img/background.jpg");
}

#mainPane {
    -fx-background-image: url("img/background.jpg");
}

#loginPane {
    -fx-background-image: url("img/background.jpg");
}
